asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
djangorestframework
djangorestframework-simplejwt
idna
itypes
Jinja2
MarkupSafe
pycodestyle
PyJWT
pytz
PyYAML
requests
sqlparse
toml
tzdata
uritemplate
urllib3
django-jazzmin
shortuuid
django-taggit
django-ckeditor
django-ckeditor-5