asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
djangorestframework
djangorestframework-simplejwt
idna
itypes
Jinja2
MarkupSafe
pycodestyle
PyJWT
pytz
PyYAML
requests
sqlparse
toml
tzda
uritemplate
urllib3
jazzmin